.maincolumn{
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 171, 250);
}
.mainrow{
    width: 100%;
    display: flex;
    flex: 0 1 auto;
    background-color: #fff;
}
.left{
    width: 25%;
    background-color: rgb(224, 224, 224);
}
.right{
    width: 75%;
    padding: 40px;
    background-color: rgb(255, 254, 254);
}
.topbar{
    height: 80px;
    width: 100%;
    background: linear-gradient(to right,rgb(34, 1, 43),rgb(94, 2, 119),rgb(34, 1, 43));
}
.heading{
    text-align: center;
    color: #fff;
    align-items: center;
}
button{
    text-decoration: none;
    text-align: justify ;
    background-color: rgb(224, 224, 224);
    border:none;
    width: 100%;
    padding: 20px;
    color: rgb(34, 1, 43);
}
button:hover{
    background-color: white;
    border: 1px solid black;
}
.buttontext{
    color: rgb(34, 1, 43);
}
.buttons{
    display: flex;
    flex-direction: column;
}
.inhead{
    color: rgb(127, 8, 160);
    font-size: 20PX;
    font-weight: 700;
}
.inheadc{
    color: rgb(34, 1, 43);
    font-size: 20PX;
    font-weight: 700;
}
.intopic{
    color: rgb(127, 8, 160);
    font-size: 40PX;
    font-weight: 700;
}
table{
    border: 2px solid rgb(34, 1, 43);
    width: 100%;
    
}
th,td{
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.intext{
    color: rgb(127, 8, 160);
}
